.menuCal{
    width: 800px;
    height: 600px;
    border-radius: 5px;
    border: 0.5px solid lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curso{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightseagreen;
}

.inter{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.termi{
    width: 200px;
}